p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196F3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: flex-start;
  }
}

.header .container {
  border-bottom: 1px solid #ECECEC;
  height: 60px;
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header .logo {
  display: inline-block;
  margin: 16px 0;
}

.header_logo > span {
  color: var(--primary-text-color);
}

.footer__logo {
  display: block;
  width: 154px;
  margin: 0 auto 28px auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    margin-left: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 0;
  }
}

.footer__logo > span {
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.menu-open {
  background-color: #fff;
  border-color: transparent;
  margin-left: auto;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 0px;
  left: 0px;
}
.mobile-menu .container {
  display: block;
  height: 100%;
}

.menu-content {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-right: 0;
  border-color: transparent;
  background-color: #fff;
}

.mob-navigation-list > li:not(:last-child) {
  margin-bottom: 32px;
}

.mob-navigation-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-navigation-link:hover, .mob-navigation-link:focus {
  color: var(--accent-color);
}

.mob-navigation-link.active-page {
  color: var(--accent-color);
}

.mob-connection-tel {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 32px;
}

.mob-connection-mail {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 64px;
}

.mob-social-list {
  display: flex;
  align-items: center;
}

.mob-social-list > li {
  position: relative;
}
.mob-social-list > li:not(:last-child) {
  margin-right: 20px;
}

.mob-social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-social-link::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 10px;
  width: 22px;
  height: 0px;
  display: block;
  color: rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

/* header list */
.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__list > li:not(:last-child) {
  margin-right: 50px;
}

/*  link */
.navigation__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link.active-page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* header contact */
.contact {
  display: flex;
  margin-left: auto;
  display: none;
}

.contact > li:not(:last-child) {
  margin-right: 40px;
}

.contact__link {
  display: flex;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero-container {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet_2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desktop_2x.jpg");
  }
}

.hero-title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.preference {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .preference {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.icon-list > li {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .icon-list > li {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .icon-list > li {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.icon-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 244, 250);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .icon-list__title {
    display: inline-block;
  }
}

.icon-list__desc {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* what we do */
.work-section {
  padding-top: 0;
}

.picture-list {
  display: flex;
}

.picture-list > li:not(:last-child) {
  margin-right: 30px;
}

.picture-list__box {
  position: relative;
}

.picture-list__text {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

.picture-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 27px;
}

/* team */
.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .card-list {
    justify-content: space-between;
  }
}

.card-list > li {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-list > li {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list > li {
    flex-basis: calc((100% - 60px) / 4);
  }
}

.card-list__img {
  width: 100%;
}

.card-list__content {
  text-align: center;
  margin-top: 30px;
}

.card-list__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}

.card-list__info {
  color: var(--text-color);
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-list__items {
  width: 44px;
  height: 44px;
}
.social-list__items:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: currentColor;
  color: #AFB1B8;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: #FFFFFF;
}

/* Clients */
.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .client-list {
    flex-wrap: nowrap;
    margin-right: -30px;
  }
}

.client-list > li {
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
}
.client-list > li:nth-child(2n+1) {
  margin-right: 30px;
}
.client-list > li:nth-child(-n+4) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .client-list > li {
    flex-basis: calc((100% - 90px) / 3);
    margin: 0 30px 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .client-list > li {
    margin-bottom: 0;
  }
}

.client-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus, .form-input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-input:hover + svg,
.form-input:focus + svg {
  fill: var(--accent-color);
}

.form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  position: absolute;
  top: -20px;
  left: 0;
}

.input-group {
  position: relative;
  margin-bottom: 28px;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 28px;
  resize: none;
  font-family: "Roboto";
}
.form-comment:hover, .form-comment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-group {
  margin-bottom: 30px;
  margin-left: 12px;
}

.check-input-icon {
  width: 16px;
  border: 2px solid var(--primary-text-color);
  height: 16px;
  margin-right: 8px;
  border-radius: 4px;
  fill: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.politic-check:checked + label > span {
  background-color: var(--accent-color);
  border: none;
}

.politic-check:checked + label > span svg {
  fill: #FFFFFF;
}

.policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.policy-accent-text {
  color: var(--accent-color);
  margin-left: 5px;
}

.form-btn {
  background: #188CE8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

/* PORTFOLIO */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .filter-items:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  font-family: "Roboto";
  font-size: px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:focus, .portfolio-btn:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.grid__item {
  width: 370px;
  margin: 15px;
}

.grid__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.grid__caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.grid__subtitle {
  line-height: 1.875;
  color: var(--text-color);
}

.grid__pic {
  display: block;
}

.grid__box {
  position: relative;
  overflow: hidden;
}

.grid__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 63px 24px;
}

.grid__item:hover .grid__overlay {
  transform: translateY(0);
  opacity: 1;
}

.grid__item:hover,
.grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* footer */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-block {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    align-items: flex-start;
  }
}

.footer-list {
  margin-bottom: 60px;
  display: block;
  width: 232px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-list {
    display: inline-block;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer-list__link, .map {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .map:hover, .footer-list__link:focus, .map:focus {
  color: var(--accent-color);
}

.footer .social-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .social-list {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .social-list {
    margin-bottom: 0;
  }
}

.footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map {
  color: #ffffff;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .soc-networks .footer-title {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription .footer-title {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription__form {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}

.subscription__mail {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__mail {
    margin-right: 12px;
    width: 358px;
  }
}

.input-mailing::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__wrap {
  position: relative;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .subscription__wrap {
    display: inline-block;
  }
}

.subscription__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-right: 31px;
}

.subscription__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}/*# sourceMappingURL=main.css.map */