.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }
}

.hero-container {
    @include desktop {
        display: block;
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header .container {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    @include desktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}


    

