
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    @include font (26, 700, 1.2, 0.03em); 
}

.header .logo {
    display: inline-block;
    margin: 16px 0;
}

.header_logo>span {
    color: var(--primary-text-color);
}


.footer__logo {
    display: block;
    width: 154px;
    margin: 0 auto 28px auto;

    @include tablet{
        display: inline-block;
        // margin-left: 115px;
    }

    @include desktop{
        // margin-left: 0;
        margin: 0;
        margin-bottom: 28px;
    }
}

.footer__logo>span {
    color: #ffffff;
}





